/* 
    Description: iShouvik.com home page stylesheet
    @author: Shouvik Mukherjee <contact@ishouvik.com>
*/

.home .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.home section {
    margin-bottom: 25px;
    clear: both;
    float: none;
}

.home .intro {
    margin: 0;
    padding-right: 3%;
    padding-left: 3%;
    min-height: 430px;
    width: 100%;
    background: url('../images/ishouvik-intro.jpg') right no-repeat;
    display: table;
    border-radius: 0;
}

.home .intro-background {
    padding: 0;
    background: url('../images/ishouvik-intro-background.jpg') repeat-x;
    display: block;
}

.home .intro .content {
    display: table-cell;
    vertical-align: middle;
}
.home .intro .content h1 {
    padding: 1% 7%;
    font-size: 350%;
    font-weight: normal;
    background: #333333;
    display: inline-block;
    opacity: 0.85;
    text-shadow: 1px 1px #000000;
}

.home .intro .content h2 {
    font-size: 120%;
}

.home .intro .content h1,
.home .intro .content h2,
.home .intro .content p {
    margin-top: 3%;
    margin-bottom: 3%;
}

.home .intro .content i {
    margin-right: 3%;
}

.orange {
    color: #FF4C00;
}