/* 
    Description: iShouvik.com home page stylesheet
    @author: Shouvik Mukherjee <contact@ishouvik.com>
*/

.home .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.home .intro {
    padding-right: 3%;
    padding-left: 3%;
    min-height: 40vh;
    width: 100%;
    background: #0084B0 url('../images/shouvik-intro.png') center;
    color: #ffffff;
    display: table;
    border-radius: 0;
}

.home .intro .content {
    display: table-cell;
    vertical-align: middle;
    border: 3px solid #ffffff;
}
.home .intro .content h1 {
    font-weight: normal;
}